// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Rubik','Nunito', sans-serif;
$font-family-heading : 'Rubik-bold';

$font-size-base: 1rem;
// @media only screen and (max-width: 992px) {
//     $font-size-base: ;
// }

$font-size-header : calc(#{$font-size-base} * 3);
$font-size-subheader : calc(#{$font-size-base} * 1.5);
$font-size-subheader1: calc(#{$font-size-base} * 2);
$font-size-button : calc(#{$font-size-base} * 1.25);



$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


$primary-color: #F1F1F1;
$secondary-color-green-light : #73E2A7;
$secondary-color-green-dark : #09A129;
$secondary-color-white : #E2EFDe;

$font-color-dark : #292F36;
$font-color-light : #FFF;

$border-radius : 24px;
$border-radius-alt : calc(#{$border-radius}/3);
