// Fonts
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
    font-family: Rubik-bold;
    src: url(/Assets/Font/Rubik-Bold.woff);
}

// vendor
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~slick-carousel/slick/slick-theme";
@import "~slick-carousel/slick/slick";

//responsive
@import "responsive";

// Variables


.cursor{
    &-pointer{
        cursor: pointer;
    }
}

.figure-image{
    transform: translateX(-7px);
}

img{
    max-height: 100%;
    max-width: 100%;
}

@media only screen and (min-width: 576px){

@import "variables";

.dropdown-menu {
    border-radius: 4px;
}

.slick-center {
    & > div > div > img {
        transform: scale(1);
        opacity: 1;
        transition: all 0.5s;
    }
}

.slick-slide {
}

//utility

.border {
    &-radius{
        border-radius: $border-radius;
        &-alt {
            border-radius: $border-radius-alt;
        }
    }

    &-none{
        border: none;
    }

}

.bg {
    &-secondary {
        &-green-light {
            background-color: $secondary-color-green-light;
        }

        &-green-dark {
            background-color: $secondary-color-green-dark;
        }

        &-white {
            background-color: $secondary-color-white;
        }
    }
}

.color {
    &-secondary {
        &-green {
            &-dark {
                color: $secondary-color-green-dark !important;
            }
        }
    }
}

.font {
    &-base {
        font-size: $font-size-base;
    }
    &-subheader {
        font-size: $font-size-subheader;
    }
    &-subheader1 {
        font-size: $font-size-subheader1;
    }
    &-header {
        font-size: $font-size-header;
    }
    &-button{
        font-size: $font-size-button;
    }
}

//mixin

//custom
* {
    color: $font-color-dark;
    font-size: $font-size-base;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: $primary-color;
}


.text-shadow {
    text-shadow: 2px 2px 6px rgba(#000000, 0.3);
}

.nav {
    box-shadow: 0px 3px 10px rgba(#000, 15%);
    font-weight: 500;
    z-index: 1;
    &-item {
        line-height: 1.3;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
    &-link {
        color: $font-color-dark !important;
        text-transform: capitalize;

        &:hover {
            color: $secondary-color-green-dark !important;
        }
    }

    &-activate {
        font-family: "Rubik-bold";
        font-weight: 300;
        color: $secondary-color-green-dark !important;
    }
}

.subheading {
    color: $secondary-color-green-dark;
    font-weight: 700;
    text-transform: capitalize;
}

.horizontal-line {
    background-color: $font-color-dark;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 92.5%;
}

.lang {
    & > * {
        &:link,
        &:visited {
            color: $font-color-dark;
        }

        &:hover {
            text-decoration: none !important;
        }
    }

    &-id {
    }

    &-en {
    }
}

.button {
    color: $secondary-color-white;
    background-color: $secondary-color-green-dark;
    font-weight: 700;
    border-radius: $border-radius;
    text-transform: capitalize;
    font-size: $font-size-button;
    padding: 0.5rem 1.5rem;

    &:active,
    &:link,
    &:visited {
        background-color: $secondary-color-green-dark;
    }

    &:hover {
        background-color: $secondary-color-green-dark;
    }

    &-alt {
        color: $secondary-color-white;
        background-color: $secondary-color-green-dark;
        font-weight: 700;
        border-radius: $border-radius;
        text-transform: capitalize;
        font-size: $font-size-button;
        padding: 0.5rem 1rem;

        background-color: transparent;
        outline-color: $secondary-color-green-dark;
        border: 2px solid $secondary-color-green-dark;

        &:hover {
            background-color: $secondary-color-green-dark;
            color: white;
        }

        &-1 {
            color: black;
        }
    }
}

#login {
    padding: 0 1.3rem;
    margin-left: 1rem;
}

.header {
    height: 88vh;

    &-heading {
        color: $font-color-light;
        text-shadow: 2px 2px 20px rgba(#000000, 0.3);
        font-size: $font-size-header;
        font-family: $font-family-heading;
    }

    &-paragraph {
        width: 30rem;
        text-align: center;
        font-size: $font-size-subheader;
        color: $font-color-light;
        line-height: 1.3;
        text-shadow: 2px 2px 6px rgba(#000000, 0.3);

        & > * {
            color: $font-color-light;
            text-shadow: 2px 2px 6px rgba(#000000, 0.3);
            font-size: $font-size-subheader;
        }
    }

    &-button {
        width: 20rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &-right {
        background-image: linear-gradient(
                rgba($secondary-color-green-light, 0.8),
                rgba($secondary-color-green-light, 0.8)
            ),
            url("/Assets/Picture/hero-image.jpg");
        background-size: cover;
    }

    &-left {
        background-color: white;
    }
}

.heading {
    text-transform: capitalize;
    color: $secondary-color-green-dark;
    font: Bold $font-size-header Rubik-bold;
}

.figure {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;

    & > * {
        margin: 0.3rem;
    }

    &-image {
        height: 380px;
    }

    &-caption {
        font-weight: 600;
        text-transform: capitalize;
        font-size: $font-size-subheader;
    }
}

.guide {
    background-color: $secondary-color-white;

    &-img {
        height: 200px;
    }

    &-text {
        &-1 {
            text-transform: capitalize;
        }

        &-2 {
            color: $font-color-dark;
            text-shadow: none;

        }
    }
}

.feature {
    &-image {
        height: 200px;
    }

    &-caption {
        font-weight: 600;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    &-item {
        box-shadow: 0px 3px 10px #292f3626;

        &-container {
        }
    }
}

.about {
    padding: 3rem;
    padding-left: 5rem;

    &-paragraph {
        font-size: $font-size-subheader;
        text-transform: capitalize;
        text-align: justify;
        width: 90%;
    }

    &-left {
        line-height: 1.3;
    }
}

.statistik {
    background-color: $secondary-color-green-dark;

    &-heading {
        color: white;
    }

    &-item {
        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
        align-items: center;
        margin-bottom: 2rem;

        &-heading {
            color: white;
            font-size: $font-size-header;
            font-family: $font-family-heading;
        }
    }

    &-text {
        font-size: $font-size-subheader;
        font-weight: 600;
        color: white;
        text-transform: capitalize;
        white-space: nowrap;
    }
}

.features {
    transition: all 2s;

    &-item {
        margin: 0.5rem 2rem;
        box-shadow: 0 0 12px #888888;
        border-radius: $border-radius-alt;
    }

    &-input {
        display: none;
    }

    &-link {
        font-size: 0.6rem;
        color: black;
        padding-left: 0.3rem;
    }

    &-label {
        background-color: $secondary-color-green-dark;
        color: white;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1rem;
        border-radius: $border-radius-alt;
        cursor: pointer;
    }

    &-title {
        color: white;
        font-weight: 700;
        width: 90%;
    }

    &-droplist {
        background-color: transparent;
        height: 0;
        opacity: 0;
        transition: all 500ms;

        &:last-child > li:last-child > a {
            border-bottom: none;
            height: initial;
        }
    }

    &-droplink {
        text-decoration: none;
        color: inherit;

        &:hover {
            font-weight: 700;
            color: $secondary-color-green-dark;
            text-decoration: none;
            > i {
                color: $secondary-color-green-dark;
                font-weight: 700;
            }
        }
    }

    &-dropitem {
        display: none;
        transition: all 500ms;
        height: 0;
        justify-content: flex-start;
        align-items: center;
        flex-flow: row nowrap;
        margin: 0.5rem 1rem;
        padding: 0.5rem 0rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid rgba($color: #000000, $alpha: 0.5);
        &:last-child {
            border-bottom: none;
        }
    }

    &-arrow {
        color: white;
        transition: all 500ms;
    }

    &-input:checked {
        ~ .features-arrow {
        }

        ~ .features-droplist {
            background-color: $secondary-color-white;
            opacity: 1;
            height: initial;

            & > .features-dropitem {
                display: flex;
                height: initial;
            }
        }
        + .features-label {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    &-no-underline {
        border-bottom: none;
        margin: 0 1rem;

        &:first-child {
            padding-top: 1rem;
            margin-bottom: 0;
        }

        &:not(:first-child) {
            margin: 0 1rem;
            margin-top: -0.7rem;
            padding-bottom: 1rem;
        }
    }

    &-underline {
        border-bottom: 2px solid rgba($color: #000000, $alpha: 0.5);
        width: 50%;
        height: 2.5rem;
        &:last-child {
            margin-left: 1rem;
        }
    }
}

.content {
    background-color: $secondary-color-white;

    &-paragraph {
        text-align: justify;
        margin-bottom: 0;
    }
    &-bold {
        color: $secondary-color-green-dark;
    }
}

.testimoni {
    background-color: $secondary-color-white;

    &-item {
        box-shadow: 0px 3px 8px #00000026;
        position: relative;
        background-color: white;
        border-radius: $border-radius-alt;
    }

    &-title {
        color: $secondary-color-green-dark;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0rem;
        font-size: $font-size-subheader;
    }

    &-paragraph {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }

    &-image {
        height: 27px;
        position: absolute;
        top: -10px;
        left: 20px;
    }
}

.banner {
    background-image: linear-gradient(
            rgba($secondary-color-green-dark, 0.8),
            rgba($secondary-color-green-dark, 0.8)
        ),
        url("/Assets/Picture/catching-phrase.jpg");
    background-position: center;
    background-size: cover;
    & > * {
        color: white;
    }

    &-paragraph {
        font-weight: 600;
    }

    &-paragraph-regular {
        width: 70%;
    }
}

.benefit {
    &-section {
        padding: 2rem 4rem !important;
    }

    &-title {
        color: $secondary-color-green-dark;
        font-weight: 700;
        font-size: $font-size-subheader1;
    }

    &-list {
        margin-left: -1.1rem;
        &-right {
            margin-top: -1.6rem;
        }
    }

    &-subtitle {
        font-weight: 600;
        font-size: $font-size-button;
        line-height: 1.3;
        padding-bottom: 0.4rem;
    }
}

.contact {
    background-color: $secondary-color-white;

    &-email {
        + span {
            font-size: $font-size-button;
            margin-top: -0.5rem;
        }
    }

    &-container {
        padding: 2rem 6rem;
    }

    &-msg {
        & > img {
            border-radius: 200px;
        }
    }

    &-bold {
        font-weight: 700;
        font-size: $font-size-subheader;
    }

    &-social-media {
        > a {
            &:hover {
                > i {
                    color: $secondary-color-green-dark;
                }
            }
        }
    }

    &-form {
        padding: 0rem 3rem;
        &-input {
            width: 100%;
            display: flex;
            padding: 0.5rem 1rem;
            box-shadow: 0px 0px 5px #888;
            border-radius: $border-radius-alt;
            margin: 1rem 0;
            border: none;
            // outline: none;
        }
    }
}

.footer {
    background-color: $secondary-color-white;

    &-title {
        font-weight: 700;
        font-size: $font-size-button;
    }

    &-top {
        padding: 0 3rem;
    }

    &-bottom {
        background-color: $secondary-color-green-dark;
        & > * {
            color: white;
        }
    }

    &-col {
        padding: 1rem;
        padding-top: 0;
    }

    &-list {
        list-style-type: none;

        &-item {
            padding: 0.5rem 0;

            & > a {
                &:link,
                &:visited {
                    text-decoration: none;
                    color: $font-color-dark;
                    text-transform: capitalize;
                }
                &:hover {
                    font-weight: 700;
                    color: $secondary-color-green-dark;
                }
            }
        }
    }
}

.features-alt {
    &-title {
        color: $secondary-color-green-dark;
        font-size: $font-size-button;
        font-weight: 600;
    }

    &-label {
        background-color: transparent;
    }

    &-item {
        box-shadow: none;
        border-bottom: 2px solid rgba($font-color-dark, 70%);
        border-radius: 0;
    }

    &-image {
        height: 15rem;
    }
}

.install-guide {
    &-list {
        padding-left: 1rem;
    }

    &-android {
        &-carousel {
            transform: scale(0.6);
            opacity: 0.5;
            padding: 0 1rem;
            &-arrow {
                border-radius: 50%;
                position: absolute;
                box-shadow: 0 0 6px #888888;
                &-left {
                    top: 45%;
                    left: -3rem;
                }

                &-right {
                    top: 45%;
                    right: -3rem;
                }
            }
            &-list {
            }
            &-dots {
                border-radius: 50%;
                color: $secondary-color-green-dark;
                background-color: white;
                width: 1.5rem;
            }
        }
    }
}

.unique{
    background-color: transparent;
    border-radius: $border-radius;
    border: 1px solid $secondary-color-green-dark;
    color: $secondary-color-green-dark;
    padding: 0.25rem 0.5rem;
    font-weight: 500;
    font-size: 12px;
}
}
